body {
    background-color: greenyellow;
    background-image: url(./kegiatan\ peda.gif); 
    background-repeat: no-repeat;
    background-position: lower center;
    background-position: 60;
}